<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <!--<add name="constring" connectionString="Data Source=desktop-9cf7rlj;Initial Catalog=croma;Integrated Security=True" />-->
    <add name="constring" connectionString="Data Source=LAPTOP-59S3TSB1;Initial Catalog=croma;Integrated Security=True" />
  </connectionStrings>
</configuration>
